local data = {}
data[0] = 0
local SHALLOWGRAVE_1 = 128403
local SHALLOWGRAVE_2 = 128308
local ZOMBIE_SPELL = 10247

local function OnGossipHello_SG(event, player, object)
    if data[0] ~= 1 then
        print(data[0])
        data[0] = 1
        print(data[0])      
        SpawnedDummy = PerformIngameSpawn(1, 12999, object:GetMapId(), object:GetInstanceId(), object:GetX(), object:GetY(), object:GetZ(), object:GetO())
        SpawnedDummy:CastSpell(self, ZOMBIE_SPELL)
        print("Succeeded")
        SpawnedDummy:DespawnOrUnsummon(500)
        print("Unsummoned")
    end
end

local function OnSpawn_SG(event, go)
    data[0] = 0
end


RegisterGameObjectGossipEvent(SHALLOWGRAVE_1, 1, OnGossipHello_SG)
RegisterGameObjectGossipEvent(SHALLOWGRAVE_2, 1, OnGossipHello_SG)

RegisterGameObjectEvent(SHALLOWGRAVE_1, 2, OnSpawn_SG)
RegisterGameObjectEvent(SHALLOWGRAVE_2, 2, OnSpawn_SG)